* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

.heading {
    color: blue;
    text-align: center;
}

.heading-size {
    font-size: 50px;
}

.rainbow-red {
    color: red;
}